.style__switcher {
    position: fixed;
    right: 0;
    top: 77px;
    padding: 15px;
    width: 200px;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style__switcher.open {
    transform: translateX(-15px);
}

.style__switcher .s__icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--text-block-900);
    cursor: pointer;
    right: 100%;
    margin-right: 15px;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style__switcher .s__icon i {
    line-height: 40px;
}

.style__switcher .s__icon:after {
    border-radius: 50%;
}

.style__switcher .style__switcher__toggler {
    top: 0;
}

.style__switcher .day__night {
    top: 55px;
}

.style__switcher h4 {
    margin: 0 0 10px;
    color: var(--text-block-700);
    font-style: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style__switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style__switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.style__switcher .color-1 {
    background-color: #f50707;
}
.style__switcher .color-2 {
    background-color: #f59609;
}
.style__switcher .color-3 {
    background-color: #0af098;
}
.style__switcher .color-4 {
    background-color: #0b9bee;
}
.style__switcher .color-5 {
    background-color: #fb839e;
}


