
$Color1: #f50707;
$Color2: #f59609;
$Color3: #0af098;
$Color4: #0b9bee;
$Color5: #b11717;


// bg color
$BgBlock-900: #000000;
$BgBlock-100: #dddddd;
$BgBlock-50: #eff0f4;

$TextBlock-900: #000000;
$TextBlock-700: #555555;
$TextBlock-600: #666666;
$TextBlock-300: #bbbbbb;


