
$Color1: #f50707;
$Color2: #f59609;
$Color3: #0af098;
$Color4: #0b9bee;
$Color5: #fb839e;


// bg color
$BgBlock-900: #000000;
$BgBlock-100: #dddddd;
$BgBlock-50: #eff0f4;

$TextBlock-900: #000000;
$TextBlock-700: #555555;
$TextBlock-600: #666666;
$TextBlock-300: #bbbbbb;

$OuterShadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
$OuterShadow0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8f8;
$InnerShadow: inset 3px 3px 3px #d0d0d0d0, inset -3px -3px 3px #f8f8f8;
$InnerShadow0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;

$BgOpacity: rgba(255,255,255,0.5);

