@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
/* Global style */
body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #eff0f4;
}

body.stop__scrolling {
  overflow-y: hidden;
}

*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

:before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify__content__between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outer__shadow {
  -webkit-box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
          box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.inner__shadow {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.hover__in__shadow {
  position: relative;
  z-index: 1;
}

.hover__in__shadow:hover {
  -webkit-box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8f8;
          box-shadow: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8f8;
}

.hover__in__shadow:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover__in__shadow:hover:after {
  -webkit-box-shadow: inset 3px 3px 3px #d0d0d0d0, inset -3px -3px 3px #f8f8f8;
          box-shadow: inset 3px 3px 3px #d0d0d0d0, inset -3px -3px 3px #f8f8f8;
}

.align__items__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #f50707;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-1:after {
  border-radius: 30px;
}

.effect__wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid #f50707;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.effect-4:before {
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 1px;
  background-color: #4dd0e1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes topBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes leftBounce {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.section__title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section__title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.section__title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #f50707;
}

/* Header */
.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  height: 40px;
  width: 40px;
  color: #f50707;
  border-radius: 50%;
  border: 2px solid #f50707;
  font-weight: 600;
  text-transform: uppercase;
}

.header .hamburger__btn {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hamburger__btn:after {
  border-radius: 50%;
}

.header .hamburger__btn span {
  display: block;
  height: 2px;
  width: 16px;
  background-color: #000000;
  position: relative;
}

.header .hamburger__btn span:before,
.header .hamburger__btn span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.header .hamburger__btn span:before {
  top: -6px;
}

.header .hamburger__btn span:after {
  top: 6px;
}

.nav__menu {
  position: fixed;
  background-color: #eff0f4;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.nav__menu .close__nav__menu {
  height: 40px;
  width: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: #666666;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__menu .close__nav__menu:after {
  border-radius: 50%;
}

.nav__menu__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__menu ul {
  padding: 15px;
}

.nav__menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav__menu ul li:last-child {
  margin-bottom: 0;
}

.nav__menu ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: #555555;
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__menu ul li a.active {
  color: #f50707;
}

.nav__menu ul li a:after {
  border-radius: 30px;
}

.nav__menu .copyright__text {
  position: absolute;
  top: 50%;
  font-size: 15px;
  color: #666666;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  left: -60px;
}

.home__section {
  position: relative;
}

.home__section .full__screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home__section .home__text,
.home__section .home__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home__section .home__text p {
  color: #bbbbbb;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}

.home__section .home__text h2 {
  font-size: 55px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.home__section .home__text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
  text-transform: capitalize;
}

.home__section .home__text .btn-1 {
  margin-top: 30px;
}

.home__section .home__img .img__box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home__section .home__img .img__box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.about__section {
  padding: 80px 0 0;
  min-height: 100vh;
}

.about__section .about__img {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.about__section .about__img .img__box {
  padding: 15px;
  border-radius: 5px;
}

.about__section .about__img .img__box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.about__section .about__img .social__links {
  margin-top: 20px;
  text-align: center;
}

.about__section .about__img .social__links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  color: #666666;
  margin: 0 4px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__section .about__img .social__links a i {
  line-height: 40px;
}

.about__section .about__img .social__links a:after {
  border-radius: 50%;
}

.about__section .about__img .social__links a:hover {
  color: #f50707;
}

.about__section .about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}

.about__section .about__info p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #666666;
}

.about__section .about__info span {
  font-weight: 600;
}

.about__section .about__info .btn-1 {
  margin: 30px 20px 0 0;
}

.about__section .about__tabs {
  padding: 60px 15px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about__section .about__tabs .tab__item {
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  text-transform: capitalize;
}

.about__section .about__tabs .tab__item:hover:not(.active) {
  opacity: 0.6;
}

.about__section .about__tabs .tab__item.active {
  color: #f50707;
}

.about__section .tab__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about__section .tab__content.active {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.about__section .skills {
  padding: 0 0 40px;
}

.about__section .skills .skill__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 40px;
}

.about__section .skills .skill__item p {
  font-size: 16px;
  color: #666666;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about__section .skills .skill__item .progress {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.about__section .skills .skill__item .progress__bar {
  background-color: #666666;
  height: 6px;
  left: 7px;
  top: 7px;
  position: absolute;
  border-radius: 10px;
}

.about__section .skills .skill__item .progress__bar span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  margin-top: -40px;
}

.about__section .education,
.about__section .experience {
  padding-bottom: 80px;
}

.about__section .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about__section .timeline:before {
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #dddddd;
  position: absolute;
}

.about__section .timeline .timeline__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about__section .timeline .timeline__item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}

.about__section .timeline .timeline__item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about__section .timeline .timeline__item__inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about__section .timeline .timeline__item__inner:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #dddddd;
  top: 37px;
  z-index: -1;
}

.about__section .timeline .timeline__item:nth-child(odd) .timeline__item__inner:before {
  right: -30px;
}

.about__section .timeline .timeline__item:nth-child(even) .timeline__item__inner:before {
  left: -30px;
}

.about__section .timeline .timeline__item__inner .icon {
  height: 40px;
  width: 40px;
  background-color: #eff0f4;
  text-align: center;
  border: 1px solid #dddddd;
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #f50707;
  position: absolute;
  top: 18px;
}

.about__section .timeline .timeline__item:nth-child(odd) .icon {
  right: -70px;
}

.about__section .timeline .timeline__item:nth-child(even) .icon {
  left: -70px;
}

.about__section .timeline .timeline__item__inner span {
  font-weight: 500;
  color: #f50707;
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about__section .timeline .timeline__item__inner h3 {
  font-size: 20px;
  color: #555555;
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.about__section .timeline .timeline__item__inner h4 {
  font-size: 16px;
  font-style: italic;
  color: #666666;
  margin: 0;
}

.about__section .timeline .timeline__item__inner p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  margin: 15px 0 0;
}

.service__section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.service__section .service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__section .service__item__inner {
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.service__section .service__item__inner .icon {
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 30px;
  position: relative;
}

.service__section .service__item__inner .icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service__section .service__item__inner:hover .icon {
  -webkit-box-shadow: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
          box-shadow: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

.service__section .service__item__inner:hover .icon:after {
  -webkit-box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
          box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
}

.service__section .service__item__inner .icon i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service__section .service__item__inner:hover .icon i {
  color: #f50707;
}

.service__section .service__item__inner h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.service__section .service__item__inner p {
  font-size: 16px;
  color: #666666;
  margin: 0;
  line-height: 26px;
}

.portfolio__section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.portfolio__section .section__title {
  margin-bottom: 40px;
}

.portfolio__section .portfolio__filter {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio__section .filter__item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: #666666;
  text-transform: capitalize;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__section .filter__item:hover:not(.active) {
  opacity: 0.6;
}

.portfolio__section .filter__item.active {
  color: #f50707;
}

.portfolio__section .portfolio__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__section .portfolio__item.hide {
  display: none;
}

.portfolio__section .portfolio__item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.portfolio__section .portfolio__item__img img {
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__section .portfolio__item__inner:hover .portfolio__item__img img {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.portfolio__section .portfolio__item__img {
  position: relative;
}

.portfolio__section .portfolio__item__img .view__project {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #f50707;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portfolio__section .portfolio__item__inner:hover .view__project {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.portfolio__section .portfolio__item__inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.portfolio__section .portfolio__item__details {
  display: none;
}

.portfolio__section .portfolio__item__inner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}

.portfolio__popup {
  background-color: #eff0f4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__popup.open {
  visibility: visible;
  opacity: 1;
}

.portfolio__popup .pp__loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio__popup .pp__loader.active {
  visibility: visible;
  opacity: 1;
}

.portfolio__popup .pp__loader div {
  height: 40px;
  width: 40px;
  border: 3px solid #f50707;
  border-radius: 50%;
  border-right: 3px solid transparent;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.portfolio__popup .pp__details {
  max-width: 1350px;
  width: calc(85% + 30px);
  margin: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio__popup .pp__details.active {
  opacity: 1;
}

.portfolio__popup .pp__details__inner {
  padding: 30px 0;
}

.portfolio__popup .pp__title {
  padding: 0 15px;
}

.portfolio__popup .pp__title h2 {
  font-size: 28px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 5px;
}

.portfolio__popup .pp__title p {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  margin: 0 0 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.portfolio__popup .pp__title p span {
  font-weight: 400;
  text-transform: capitalize;
}

.portfolio__popup .pp__project__details h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  margin: 0 0 15px;
  text-transform: capitalize;
}

.portfolio__popup .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
  padding: 0 15px;
}

.portfolio__popup .description p {
  font-size: 16px;
  color: #666666;
  line-height: 26px;
  margin: 0;
}

.portfolio__popup .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  padding: 0 15px;
}

.portfolio__popup .info ul li {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #666666;
  font-size: 16px;
}

.portfolio__popup .info ul li span {
  font-weight: 400;
}

.portfolio__popup .info ul li a {
  color: #f50707;
}

.portfolio__popup .info ul li:last-child {
  margin-bottom: 0;
}

.portfolio__popup .separator {
  height: 1px;
  width: 100%;
  display: block;
  background-color: #dddddd;
}

.portfolio__popup .pp__img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}

.portfolio__popup .pp__main {
  min-height: 100vh;
  max-width: 1350px;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__popup .pp__main__inner {
  padding: 70px 0 50px;
  position: relative;
}

.portfolio__popup .pp__project__details__btn {
  position: absolute;
  left: 0;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #f50707;
  top: 15px;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__popup .pp__project__details__btn i {
  margin-left: 4px;
}

.portfolio__popup .pp__project__details__btn:after {
  border-radius: 30px;
}

.portfolio__popup .pp__close {
  position: absolute;
  right: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  top: 15px;
  text-align: center;
  line-height: 35px;
  font-size: 35px;
  color: #666666;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__popup .pp__close:after {
  border-radius: 50%;
}

.portfolio__popup .pp__counter {
  position: absolute;
  right: 0;
  height: 40px;
  line-height: 40px;
  bottom: 5px;
  font-size: 16px;
  color: #666666;
}

.portfolio__popup .pp__prev,
.portfolio__popup .pp__next {
  position: fixed;
  top: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1010;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.portfolio__popup .pp__prev:hover,
.portfolio__popup .pp__next:hover {
  opacity: 1;
}

.portfolio__popup .pp__prev i,
.portfolio__popup .pp__next i {
  line-height: 40px;
}

.portfolio__popup .pp__prev i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio__popup .pp__prev {
  left: 15px;
}

.portfolio__popup .pp__next {
  right: 15px;
}
/*# sourceMappingURL=style.css.map */